<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">{{ title }}
      <img src="./assets/ape.png" class="logo" />
    </a>
  </div>
  <!-- Collection of nav links and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li *ngFor="let n of navigation" (click)="select(n.name)" [ngClass]="{active: isActive(n.name)}">
        <a routerLink="{{n.link}}">{{n.name}}</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
