
<div class="panel panel-default" *ngFor="let bookmark of bookmarks">
  <div class="panel-heading">{{bookmark.name}}</div>      
  <div class="panel-body">
    <a href={{bookmark.link}}>{{bookmark.link}}</a><br>
    <p>{{bookmark.description}}<br>
      {{ bookmark.visibility ? "visible" : "hidden" }}<br>
      added on {{ bookmark.date | date : "dd.MM.yyyy" }}</p>
  </div>
</div>
