<button class="btn btn-secondary" (click)="toggleForm()">add bookmark</button>
<div *ngIf="displayForm">
  <h2>New bookmark</h2>
  <form [formGroup]="bookmarkForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="name">name:
        <input id="name" type="text" class="form-control" formControlName="name" placeholder="My favourite Site" />
      </label>
    </div>
    <div class="form-group">
      <label for="link">link:
        <input id="link" type="text" class="form-control" formControlName="link" placeholder="http://www.news.com" />
      </label>
    </div>
    <div class="form-group">
      <label for="description">description:
        <input id="description" type="text" class="form-control" formControlName="description" placeholder="breaking news" />
      </label>
    </div>
    <div class="form-group">
      <label for="tags">tags:
        <input id="tags" type="text" class="form-control" formControlName="tags" placeholder="news, talks, information, politics, economy, ..."
        />
      </label>
    </div>
    <div class="form-group">
      <label for="visibility">visibility:
        <input id="visibility" type="checkbox" class="form-control" formControlName="visibility" />
      </label>
    </div>
    <input class="btn btn-primary" type="submit" value="save" />
  </form>
</div>
