<div class="row">
  <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label>Filter: </label>
        <input #bookmarkFilter (keyup)="setFilter(bookmarkFilter.value)" class="form-control"/>
      </div>
      <div *ngFor="let bookmark of bookmarks">
        <div *ngIf="bookmark.visibility && applyFilter(bookmark.tags)" class="well">
          <a href={{bookmark.link}}>{{bookmark.name}}</a>
            ({{bookmark.description}}{{ bookmark.description ? ", " : ""}}added on {{ bookmark.date | date : "dd.MM.yyyy" }})
        </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <app-bookmark-form (notify)='onNotify($event)'></app-bookmark-form>
  </div>
</div>
